@font-face {
  font-family: 'Gilroy-Regular';
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-Semibold';
  src: url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff"), url("../fonts/Gilroy-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PlayfairDisplay-Bold';
  src: url("../fonts/PlayfairDisplay-Bold.woff2") format("woff2"), url("../fonts/PlayfairDisplay-Bold.woff") format("woff"), url("../fonts/PlayfairDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PlayfairDisplay-Regular';
  src: url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2"), url("../fonts/PlayfairDisplay-Regular.woff") format("woff"), url("../fonts/PlayfairDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}

body {
  font-family: Gilroy-Regular, Palatino, serif;
  font-weight: 400;
  color: #000000;
  background-color: #F2F2F2;
  height: 100%;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  max-width: 1175px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  position: relative;
  display: inline-block;
  font-family: PlayfairDisplay-Bold, Palatino, serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
  color: #320049;
  padding-top: 18px;
  padding-bottom: 30px;
  padding-right: 48px;
  margin-left: 32px;
  margin-bottom: 32px;
}

.title::before {
  position: absolute;
  content: "";
  background: url("../images/title-bg.svg") center no-repeat;
  width: 87px;
  height: 94px;
  left: -32px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.title::after {
  position: absolute;
  content: "";
  background: url("../images/title-elem.svg") center no-repeat;
  width: 32px;
  height: 9px;
  right: 0;
  top: 45%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.article-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.article-info__reviews {
  position: relative;
  padding: 6px 18px;
  background-color: #67D7CD;
  border-radius: 4px;
}

.article-info__reviews::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -8px;
  border: 8px solid #67D7CD;
  border-bottom-color: transparent;
  border-right-color: transparent;
}

.article-info__date {
  position: relative;
  display: inline-block;
  padding-left: 16px;
  margin-left: 16px;
}

.article-info__date::before {
  position: absolute;
  content: "";
  height: 29px;
  width: 1px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #E0E0E0;
}

.img-darker {
  position: relative;
}

.img-darker::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(58, 14, 65, 0.5);
  opacity: 0.75;
}

.categories-mobile {
  display: none;
}

.categories-mobile__list {
  display: none;
}

.categories-mobile__list.active {
  display: block;
}

.categories-mobile__menu {
  position: relative;
  font-family: Gilroy-Bold, Palatino, serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #67D7CD;
  text-transform: uppercase;
  background-color: #FFFFFF;
  border: 2px solid #67D7CD;
  border-radius: 8px;
  padding: 20px 48px;
  padding-right: 60px;
  margin-bottom: 25px;
}

.categories-mobile__menu.active::before {
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}

.categories-mobile__menu.active::after {
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.categories-mobile__menu::before, .categories-mobile__menu::after {
  position: absolute;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  width: 12px;
  height: 2px;
  background-color: #67D7CD;
  top: 50%;
}

.categories-mobile__menu::before {
  position: absolute;
  content: "";
  right: 60px;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.categories-mobile__menu::after {
  position: absolute;
  content: "";
  right: 53px;
  background-color: #67D7CD;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}

.categories__item {
  position: relative;
}

.categories__item:first-child .aside-categories__link::before {
  display: none;
}

.categories__link {
  display: block;
  font-family: PlayfairDisplay-Regular, Palatino, serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  padding-top: 16px;
  margin-bottom: 16px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.categories__link:hover {
  font-family: PlayfairDisplay-Bold, Palatino, serif;
  font-weight: 700;
  padding-left: 37px;
  color: #67D7CD;
}

.categories__link:hover::after {
  width: 24px;
}

.categories__link::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  left: 0;
  top: 0;
  background-color: #c4c4c4;
}

.categories__link::after {
  position: absolute;
  content: "";
  width: 0;
  height: 1px;
  left: 0;
  top: calc(50% + 8px);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #67D7CD;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.banner {
  display: block;
  background-color: #320049;
  border-radius: 8px;
  min-height: 626px;
  padding-left: 30px;
  padding-top: 53px;
}

.banner__title {
  font-family: PlayfairDisplay-Bold, Palatino, serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #ffffff;
}

.mobile-banner {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  margin-bottom: 32px;
}

.no-scroll {
  overflow: hidden;
}

.breadcrumbs {
  padding-bottom: 24px;
}

.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #393939;
  font-size: 14px;
  line-height: 20px;
}

.breadcrumbs__item {
  position: relative;
  margin-right: 8px;
}

.breadcrumbs__item:last-child {
  font-family: PlayfairDisplay-Regular, Palatino, serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #320049;
}

.breadcrumbs__item:not(:first-child) {
  padding-left: 12px;
}

.breadcrumbs__item:not(:first-child)::before {
  position: absolute;
  content: "/";
  font-family: Gilroy-Bold, Palatino, serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #393939;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #320049;
  padding: 0 15px;
  margin: 15px 0;
  border-radius: 8px;
  color: #ffffff;
}

.header__search {
  margin-right: 15px;
}

.header .logo {
  padding: 12px 0;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__item {
  position: relative;
  margin-right: 25px;
}

.navigation__item:hover {
  color: #E29D34;
}

.navigation__item:hover .navigation-menu {
  display: block;
}

.navigation__item:last-child {
  margin-right: 0;
}

.navigation__link {
  display: inline-block;
  padding: 22px 24px;
  position: relative;
  font-family: Gilroy-Bold, Palatino, serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.navigation-menu {
  position: absolute;
  display: none;
  background-color: #ffffff;
  font-family: Gilroy-Bold, Palatino, serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #393939;
  -webkit-box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  padding: 8px;
  width: 465px;
  top: 100%;
  left: 0;
}

.navigation-menu__item {
  width: 230px;
}

.navigation-menu__item svg {
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.navigation-menu__item:hover .navigation-menu__link {
  background-color: #67D7CD;
  color: #ffffff;
}

.navigation-menu__item:hover .navigation-menu__list {
  display: block;
}

.navigation-menu__item:hover svg {
  -webkit-transform: rotate(180deg) translateY(50%);
          transform: rotate(180deg) translateY(50%);
}

.navigation-menu__item:hover svg path {
  fill: #ffffff;
}

.navigation-menu__link {
  display: block;
  position: relative;
  padding: 12px 24px;
  padding-right: 75px;
  text-transform: uppercase;
  border-radius: 6px;
}

.navigation-menu__list {
  position: absolute;
  right: 0;
  padding-left: 17px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 230px;
  display: none;
  padding-right: 8px;
}

.navigation-menu__list::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 1px;
  background-color: #E0E0E0;
  left: 10px;
  top: 0;
}

.navigation-menu__list-item {
  color: #000000;
  border-radius: 6px;
}

.navigation-menu__list-item:hover {
  background-color: #67D7CD;
  color: #ffffff;
}

.navigation-menu__list-item:hover .navigation-menu__list {
  display: block;
}

.navigation-menu__list-link {
  display: block;
  padding: 14px 24px;
}

.menu {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #320049;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 8px 0px 0px 8px;
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
  -webkit-transition: .5s ease;
  transition: .5s ease;
  padding: 10px;
  z-index: 99;
}

.menu .mobile-share {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.menu__close {
  position: absolute;
  top: 62px;
  left: 47px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer;
}

.menu__close.active {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.menu__btn {
  display: none;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 15px;
  width: 18px;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  margin-right: 15px;
}

.menu__btn span {
  position: relative;
  display: inline-block;
  background-color: #fff;
  height: 2px;
  width: 100%;
}

.menu__btn::before, .menu__btn::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background-color: #fff;
  left: 0;
}

.menu__btn::before {
  top: 0;
}

.menu__btn::after {
  bottom: 0;
}

.menu.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu .navigation__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 32px;
  z-index: 10;
}

.menu .navigation__item {
  position: static;
}

.menu .navigation__item:hover .navigation-menu {
  display: none;
}

.menu .navigation__item.active .navigation-menu {
  display: block;
}

.menu .navigation__menu {
  width: 246px;
  z-index: 11;
  background-color: #fff;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
}

.menu .navigation-menu__list {
  width: 246px;
  z-index: 11;
  background-color: #fff;
  height: 100%;
  padding: 10px;
  -webkit-box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.menu .navigation-menu__list::before {
  display: none;
}

.menu .navigation-menu__item:hover .navigation-menu__list {
  display: none;
}

.menu .navigation-menu__item.active .navigation-menu__list {
  display: block;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: url("../images/hero-bg.jpg") center/cover no-repeat;
  min-height: 375px;
  padding: 10px;
  padding-left: 92px;
  border-radius: 8px;
  color: #ffffff;
}

.hero__title {
  font-family: PlayfairDisplay-Bold, Palatino, serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  max-width: 425px;
  margin-bottom: 44px;
}

.hero__btn {
  font-family: Gilroy-Bold, Palatino, serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  padding: 20px 34px;
  background-color: #67D7CD;
  border-radius: 8px;
  text-transform: uppercase;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.hero__btn:hover {
  color: #67D7CD;
  background-color: #fff;
}

.main-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url("../images/main-bg.svg") top center no-repeat;
  padding-top: 30px;
}

.about__text {
  line-height: 26px;
  margin-bottom: 32px;
}

.about__text:last-child {
  margin-bottom: 65px;
}

.about__categories {
  margin-bottom: 32px;
}

.about-categories__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 870px;
}

.about-categories__item {
  width: 268px;
  height: 100px;
  background-color: #fff;
  margin-right: 20px;
  margin-bottom: 20px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.about-categories__item:hover {
  -webkit-box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.15);
}

.about-categories__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: PlayfairDisplay-Regular, Palatino, serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  border-radius: 4px;
  height: 100%;
}

.about-categories__title {
  padding: 12px 4px;
  margin-left: 15px;
}

.about-categories__img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92px;
  width: 92px;
  min-width: 92px;
  background: url("../images/category-item-bg.svg") center no-repeat;
  margin-left: 4px;
}

.about-categories__img {
  display: block;
  height: 40px;
}

.posts {
  padding-bottom: 64px;
  max-width: 870px;
}

.posts__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.posts__btn-wrapper {
  text-align: center;
}

.posts__btn {
  font-family: Gilroy-Bold, Palatino, serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 2px solid #67D7CD;
  border-radius: 6px;
  color: #67D7CD;
  padding: 14px 24px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.posts__btn:hover {
  background-color: #67D7CD;
  color: #fff;
}

.article {
  width: 400px;
  min-height: 360px;
  margin-right: 50px;
}

.article:nth-child(2n), .article:last-child {
  margin-right: 0;
}

.article__img-block {
  position: relative;
}

.article__img-wrapper {
  display: block;
  height: 212px;
}

.article__img {
  display: block;
}

.article__info {
  position: absolute;
  bottom: 24px;
  left: 24px;
}

.article__title {
  font-family: PlayfairDisplay-Regular, Palatino, serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  margin-top: 32px;
  margin-bottom: 24px;
}

.article__text {
  line-height: 26px;
  margin-bottom: 48px;
}

.extra {
  padding-bottom: 64px;
}

.extra__text {
  font-size: 16px;
  line-height: 26px;
}

.section-page {
  padding-bottom: 64px;
}

.section-page__article {
  min-height: auto;
}

.section-page__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section-page__title {
  font-family: PlayfairDisplay-Regular, Palatino, serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 48px;
}

.section-page__text {
  font-family: Gilroy-Semibold, Palatino, serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 64px;
}

.article-page {
  padding-bottom: 30px;
}

.article-page__title {
  font-family: PlayfairDisplay-Regular, Palatino, serif;
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 48px;
  margin-top: 16px;
}

.article-page__date {
  font-size: 14px;
  line-height: 20px;
  color: #393939;
}

.article-page__text-main {
  font-family: Gilroy-Semibold, Palatino, serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 48px;
}

.article-page__text {
  line-height: 26px;
  margin-bottom: 48px;
}

.article-page__block {
  padding: 30px;
  background-color: #fff;
  text-align: center;
}

.article-page__block-title {
  font-family: PlayfairDisplay-Bold, Palatino, serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  margin-bottom: 43px;
}

.aside {
  width: 250px;
  min-width: 250px;
  margin-left: 30px;
}

.aside__title:first-child {
  margin-bottom: 50px;
}

.aside__categories {
  margin-bottom: 80px;
}

.aside__banner {
  margin-bottom: 64px;
}

.aside-article {
  margin-bottom: 32px;
}

.aside-article__img-wrapper {
  display: block;
}

.aside-article__img-wrapper img {
  display: block;
}

.aside-article__title {
  font-size: 16px;
  line-height: 24px;
  margin-top: 16px;
}

.aside-article__info {
  margin-top: 16px;
}

.aside-article__date {
  color: #393939;
}

.footer {
  font-family: Gilroy-Bold, Palatino, serif;
  font-weight: 700;
  padding-top: 25px;
  border-top: 2px solid #320049;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  padding-bottom: 16px;
  text-transform: uppercase;
}

.footer__link {
  margin-right: 5px;
  margin-left: 5px;
}

.footer__link:hover {
  color: #E29D34;
}

.footer__bottom {
  background-color: #320049;
  color: #ffffff;
}

.footer__bottom-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}

.footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copy {
  font-size: 14px;
  line-height: 20px;
  margin-left: 25px;
  letter-spacing: 1px;
}

.footer__btn {
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  margin-left: 25px;
  letter-spacing: 1px;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  padding: 8px 16px;
}

.footer__btn:hover {
  border-radius: 4px;
  background-color: #67D7CD;
}

@media (max-width: 1165px) {
  .article {
    margin-right: 20px;
    width: 324px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .article:nth-child(2n), .article:last-child {
    margin-right: 10px;
  }
  .article-info {
    font-size: 12px;
    line-height: 19px;
  }
}

@media (max-width: 1020px) {
  .navigation__link {
    display: inline-block;
    padding: 22px 12px;
  }
  .navigation__item {
    margin-right: 15px;
  }
  .posts__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 890px) {
  .about-categories__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer {
    padding-top: 35px;
  }
  .footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 45px;
  }
  .footer__item {
    margin-bottom: 30px;
  }
  .footer__item:last-child {
    margin-bottom: 0;
  }
  .footer__bottom-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .footer__btn {
    display: block;
    margin-left: 0;
    margin-bottom: 22px;
  }
  .footer__left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 48px;
  }
  .footer__copy {
    margin-left: 0;
    margin-top: 25px;
  }
}

@media (max-width: 768px) {
  .menu__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .share {
    display: none;
  }
  .header {
    padding: 0 10px;
  }
  .header__search {
    margin-right: 0;
  }
  .header__navigation {
    display: none;
  }
  .hero {
    padding: 5px;
    padding-left: 26px;
    margin-bottom: 32px;
  }
  .main-page {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: none;
  }
  .aside {
    width: 100%;
    margin-left: 0;
  }
  .aside__banner {
    min-height: 300px;
  }
  .aside__articles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .article {
    margin-left: 0;
    margin-right: 0;
  }
  .article:nth-child(2n), .article:last-child {
    margin-right: 0;
  }
  .posts__items,
  .section-page__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 480px) {
  .hero {
    padding-left: 15px;
  }
  .hero__title {
    font-size: 44px;
  }
  .aside__categories-title, .aside__categories, .aside__banner {
    display: none;
  }
  .categories-mobile {
    display: block;
  }
  .about-categories__item {
    margin-right: 0;
  }
  .mobile-banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .aside-article {
    width: 100%;
  }
  .aside-article__img-wrapper img {
    width: 100%;
  }
  .section-page {
    padding-bottom: 32px;
  }
  .section-page__title {
    font-size: 32px;
    line-height: 45px;
  }
  .section-page__text {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 32px;
  }
  .section-page__aside {
    display: none;
  }
  .article-page__title {
    font-size: 32px;
    line-height: 45px;
  }
  .article-page__block-title {
    font-family: PlayfairDisplay-Regular, Palatino, serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 30px;
  }
  .article-page__block {
    padding: 10px;
    padding-top: 30px;
  }
}

@media (max-width: 400px) {
  .post__title::after,
  .extra__title::after {
    right: 30px;
  }
  .article__img-wrapper {
    height: auto;
  }
}

@media (max-width: 350px) {
  .article {
    width: 100%;
  }
}
