@media (max-width: 1165px) {
    .article {
        margin-right: 20px;
        width: 324px;
        margin-right: 10px;
        margin-left: 10px;

        &:nth-child(2n),
        &:last-child {
            margin-right: 10px;
        }

    }

    .article-info {
        font-size: 12px;
        line-height: 19px;
    }
}

@media (max-width: 1020px) {
    .navigation {
        &__link {
            display: inline-block;
            padding: 22px 12px;
        }

        &__item {
            margin-right: 15px;
        }
    }

    .posts {
        &__items {
            justify-content: center;
        }
    }
}

@media (max-width: 890px) {
    .about-categories {
        &__list {
            justify-content: center;
        }
    }

    .footer {
        padding-top: 35px;
        &__list {
            flex-direction: column;
            padding-bottom: 45px;
        }

        &__item {
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }
        }

        &__bottom-inner {
            flex-direction: column-reverse;
            padding-top: 30px;
            padding-bottom: 30px;
        }

        &__btn {
            display: block;
            margin-left: 0;
            margin-bottom: 22px;
        }

        &__left {
            flex-direction: column;
            margin-top: 48px;
        }

        &__copy {
            margin-left: 0;
            margin-top: 25px;
        }
    }
}

@media (max-width: 768px) {
    .menu {
        &__btn {
            display: flex;
        }
    }

    .share {
        display: none;
    }

    .header {
        padding: 0 10px;
        &__search {
            margin-right: 0;
        }

        &__navigation {
            display: none;
        }
    }

    .hero {
        padding: 5px;
        padding-left: 26px;
        margin-bottom: 32px;
    }

    .main-page {
        flex-direction: column;
        align-items: center;
        background: none;
    }

    .aside {
        width: 100%;
        margin-left: 0;

        &__banner {
            min-height: 300px;
        }

        &__articles {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .article {
        margin-left: 0;
        margin-right: 0;
        
        &:nth-child(2n),
        &:last-child {
            margin-right: 0;
        }
    }

    .posts__items,
    .section-page__items {
        flex-direction: column;
        align-items: center;
    } 
    

}

@media (max-width: 480px) {
    .hero {
        padding-left: 15px;

        &__title {
            font-size: 44px;
        }
    }

    .aside {
        &__categories-title,
        &__categories,
        &__banner {
            display: none;
        }
    }

    .categories-mobile {
        display: block;
    }

    .about-categories {
        &__item {
            margin-right: 0;
        }
    }

    .mobile-banner {
        display: flex;
    }

    .aside-article {
        width: 100%;
        &__img-wrapper {
            img {
                width: 100%;
            }
        }
    }

    .section-page {
        padding-bottom: 32px;
        &__title {
            font-size: 32px;
            line-height: 45px;
        }
    
        &__text {
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 32px;
        }

        &__aside {
            display: none;
        }
    }
    
    .article-page {
        &__title {
            font-size: 32px;
            line-height: 45px;
        }

        &__block-title {
            font-family: $playfair;
            font-weight: 400;
            font-size: 24px;
            line-height: 38px;
            margin-bottom: 30px;
        }

        &__block {
            padding: 10px;
            padding-top: 30px;
        }
    }
    
}

@media (max-width: 400px) {
    .post__title,
    .extra__title {
        &::after {
            right: 30px;
        }
    }

    .article {
        &__img-wrapper {
            height: auto;
        }
    }
}

@media (max-width: 350px) {
    .article {
        width: 100%;
    }
}
