// Colors
$accent: #320049;
$btn: #67D7CD;

// Fonts
$playfair: PlayfairDisplay-Regular, Palatino, serif;
$playfair-bold: PlayfairDisplay-Bold, Palatino, serif;
$gilroy: Gilroy-Regular, Palatino, serif;
$gilroy-bold: Gilroy-Bold, Palatino, serif;
$gilroy-semibold: Gilroy-Semibold, Palatino, serif;